.spacer {
    flex: 1 1 auto;
  }

.footer {
  position: absolute;
  bottom: 0;
  font-size: xx-small;
  display: flex;
  justify-content: center;
  left: 0;
}

.title {
  text-align: center;
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 100%;
  }
}
