<div *ngIf="show">
  <div class="logo1 loader">
    <img class="logoloader" src="assets/img/giflogo5.webp" alt="">
  </div>
  <h3 style="text-align: center; margin-top: -250px">We are checking if your login credentials are valid, please wait a moment..</h3>
</div>
<form *ngIf="!show" (ngSubmit)="send()" [formGroup]="form" style="border:1px #ccc">
  <div class="container">
    <div class="logo1">
      <img class="logo" src="assets/img/logo?.png" alt="">
    </div>
    <p style="text-align: center;">Please fill in this form to acess to your account.</p>
    <hr>
    <label for="username"><b>Username</b></label>
    <input autocapitalize="none" type="text" placeholder="Enter your username" name="username" formControlName="username" required>
    <label for="password"><b>Password</b></label>
    <div class="eyes">
      <input autocapitalize="none" class="eyes" [type]="hide ? 'password' : 'text'" placeholder="Enter password" name="psw" formControlName="password" required>
      <mat-icon style="margin: 10px" matSuffix (click)="myFunction()">visibility</mat-icon>

    </div>
    <p>If you don't have an account <a href="/signup" style="color:rgb(255, 0, 0)">sign up </a>here.</p>
    <div class="clearfix">
      <button type="submit" class="signupbtn">Log in</button>
    </div>
  </div>
</form>
