<div class="logo1">
    <img class="logo" src="assets/img/f1-logo.png" alt="">
</div>

<div class="menu">
    <div>
        <button mat-flat-button color="warn" class="home-button" routerLink="standing">Standing</button>
    </div>
    <div>
        <button mat-flat-button color="warn" class="home-button" routerLink="#">Drivers</button>
    </div>
    <div>
        <button mat-flat-button color="warn" class="home-button" routerLink="races">Races</button>
    </div>
    <div>
        <button mat-flat-button color="warn" class="home-button" routerLink="extra">Extra</button>
    </div>
</div>