
<div matBadge="1" matBadgePosition="before" matBadgeColor="accent">
  <div style="padding: 3%;"><h1 mat-dialog-title>This website uses cookyes.</h1></div>
  <div mat-dialog-content>We do not use cookies to personalize content, ads or to provide social media features. Information on how you use our site will not be shared with partners that deal with web analytics, advertising and social media.
    Our cookies are simply intended to analyze our traffic and every time you log out, they will be deleted. We wish you an optimal experience.</div>
    <div mat-dialog-content><br> Click continue to accept<br></div>
    <div mat-dialog-actions>
    <!-- <button mat-flat-button style="background-color: red;" mat-dialog-close>Close</button> -->
    <button mat-flat-button style="background-color: rgb(255, 0, 0);" mat-dialog-close>Continue</button>
    <button mat-flat-button style="background-color: rgb(255, 0, 0);" mat-dialog-close (click)="refuses()">Refuses</button>
  </div>
</div>
